@import "../../base/base";
.header {
  background-color: rgb(255, 186, 0);
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  .nav {
    width: 960px;
    margin: 0 auto;
  }

  .top {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;

    .logo {
      height: 52px;

      img {
        height: 35px;
      }
    }

    .list {
      ul {
        .notify-hover:hover .notify{
          display: block;
        }
      }

      li {
        display: inline-block;
        margin: 0 10px;
        @include fontnav;

        .appWrapper-Header-icon {
          height: 22px;
          //noinspection CssInvalidPropertyValue
          width: 22x;
          vertical-align: middle;
        }
      }

      .item {
        position: relative;

        .notify {
          position: absolute;
          top: 34px;
          right: -34px;
          box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.25);
          border: 1px solid rgba(0, 0, 0, 0.15);
          display: none;
          background-color: white;
          width: 400px;
          height: 148px;
          z-index: 10;

          .header-noti {
            width: 100%;
            background-color: white;
            height: 48px;
            display: flex;
            justify-content: space-around;

            .activity {
              width: 50%;
              @include fontheading;
              text-align: center;
              font-size: 16px;
              line-height: 3;
              border-bottom: 3px solid #FFBA00;

              &:hover {
                background-color: #F4F4F4;
              }
            }

            .newfeed {
              width: 50%;
              @include fontheading;
              text-align: center;
              font-size: 16px;
              line-height: 3;
              border-bottom: 1px solid #CACACA;
              color: #9b9b9b;

              &:hover {
                background-color: #F4F4F4;
              }

            }
          }

          .new {
            p {
              text-align: center;
              font-size: 14px;
              margin-top: 20px;

              .btnbtn {
                background-color: $pricolor;
                padding: 9.5px 20px;
                color: #fff;
                font-size: 15px;
                border-radius: 4px;
                border: none;
              }
            }
          }
        }
      }

      .them {
        position: relative;
        &:hover .menu{
          display: block;
        }

        .menu {
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
          width: 300px;
          height: auto;
          background-color: white;
          position: absolute;
          right: -5px;
          left: auto;
          top: 40px;
          display: none;

          .meunuhead {
            p {
              padding: 12px;
              text-align: center;

            }

            height: auto;
            width: 298px;

            .user {
              display: flex;
              align-items: center;
              padding: 20px 0 0 20px;

              h3 {
                margin: 0 8px;
              }

              .avatar {
                .user-img {
                  height: 65px;
                  width: 65px;
                }
              }
            }

          }

          .menuitem {

            margin: 10px;
            display: flex;
            height: 38px;
            align-items: center;

            &:hover {
              background-color: #F4F4F4;
            }

            .appWrapper-Header-icon--size30 {
              width: 30px;
              height: 30px;
            }
          }
        }
      }
    }
  }

  .bot {
    width: 100%;
    display: flex;
    padding-bottom: 14px;

    .search {
      height: 36px;
      width: 65%;
      display: flex;
      border-radius: 5px;

      background-color: #E5E5E5;

      .down {
        display: flex;
        width: 17%;
        background-color: white;
        align-items: center;
        justify-content: space-around;
        border-radius: 5px 0 0 5px;
        position: relative;
        &:hover .dropdown-select{
          display: block;
        }
        .line {
          width: 1px;
          height: 28px;
          padding: 0 0;
          border-right: 1px solid rgb(232, 232, 232);
        }


        i {
          vertical-align: middle;


        }
        .dropdown-select{
          position: absolute;
          width: 105px;
          height: 81px;
          background-color: #ffffff;
          border-radius: 4px;
          top: 42px;
          box-shadow: rgba(0, 0, 0, 0.25) 0 0 5px 0;
          z-index: 10;
          display: none;
          ul{
            li{
              padding: 7px 5px 12px 12px;
              border-bottom: 1px solid rgb(244, 244, 244);
            }
          }
        }
      }

      .searchbox {
        display: flex;
        flex: 1;
        background-color: white;
        position: relative;
        border-radius: 5px;

        input{
          width: 90%;
          border: none;
          outline: none;

        }

        .btnsearch {
          position: absolute;
          right: 18px;
          line-height: 36px;
          border-radius: 5px;

          i {
            color: $pricolor;
          }
        }
      }
    }

    .login {
      font-size: 14px;
      font-weight: 600;
      .login-btn{
        width: 143px;
      }
    }

    .login-avatar {
      height: 30px;
      width: 30px;
      vertical-align: middle;
      margin: 0 4px 0 30px;

    }

    .appWrapper-icon {
      width: 22px;
      height: 22px;
      vertical-align: middle;
    }

    .dangtin {
      background-color: $btncolor;
      height: 36px;
      width: 143px;
      border-radius: 4px;
      margin-left: 48px;

      &:hover {
        background-color: #E68D0C;
      }

      .dangtinbtn {
        margin: 7px auto;
        text-align: center;
      }

      a {
        @include fontbtn

      }
    }
  }
}

/* Mobile:width < 740px */

@media only screen and (max-width: 739px) {

  .header {
    width: 100%;
    .nav{
      width: 100%;
      .top{
        .logo{
          margin: 0 auto;
        }
        .list{
          display: none;

        }
      }
      .bot{
        padding: 0 8px 8px 8px;
        .search{
          display: none;
        }
        .login{
          display: none;
        }
        .dangtin{
          display: none;
        }
      }

    }
  }
}
/* Tablet*/
@media only screen and (min-width: 740px) and (max-width:1023px){
  .header{
    width: 100%;
    .nav{
      width: 100%;
      .top{
        justify-content: space-around;
        .logo{
          margin-left: 10px;
        }
        .list{
          ul{
            a{
              margin: 0 8px;
            }
          }
        }
      }
      .bot{
        width: 100%;
        padding: 10px 10px;
        .login{
          .login-btn{
            width: 143px;
          }
        }
        .search{
          .down{
            width: 30%;
            display: none;
          }
          .searchbox{
            input{
              padding: 0 12px;
              border-radius: 5px;
            }
          }
        }

      }
    }
  }
  .wrapper{
    .wrapperhome{
      .haederwrapper{
        .headerhearding{

        }
      }
    }
  }
}
/* pc */
@media only screen and (min-width: 1024px){

}